body {
        background-color:#555555;
        font-family:Geneva,Arial,Helvetica,sans-serif;
        margin: 0px auto;
        max-width:1000px;
        border:solid;
        border-color:#FFFFFF;
}
 
header {
        background-color: #F47D31;
        font-family:Geneva,Arial,Helvetica,sans-serif;
        display:block;
        color:#FFFFFF;
        text-align:center;
}
header h2 {
        margin: 0px;
        text-align: right;
}
header h3 {
        margin: 0px;
        text-align: right;
}
header div{
		text-align: right;
} 


h1{
        font-size: 25px;
        margin: 0px;
}
h2{
        font-size: 20px;
        margin: 0px;
        text-align:right;
        color: #FFFFFF;
} 
h3{
        font-size: 15px;
        margin: 0px;
        text-align:center;
        color: #FF0000;
}
h4{
        color: #F47D31;
        background-color: #fff;
        position: absolute;
        padding: 0px 150px;
        top: 50px;
        left: -120px;
        text-align:center;
}

textarea{
		height: 150px;       
}

ul_b{
        list-style: none;
}
p_left{
        text-align: left;
}

div{
	    text-align: left;
	    list-style-type: none;
	    overflow:auto;
	    color: #FFFFFF;  
}

 
nav{
        display:block;
        width:25%;
        float:left;
}
 
nav a:link, nav a:visited {
        display: block;
        border-bottom: 2px solid #fff;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        margin: 5px;
}
 
nav a:hover {
        color: white;
        background-color: #F47D31;
}

nav h1{
		text-decoration:blink;
}
 
nav h3 {
        margin: 15px;
        color: white;
}
 

 
section {
        display:block;
        font-family:Geneva,Arial,Helvetica,sans-serif;
        width:73%;
        float:left;
}
 
article {
        background-color: #CCCCCC;
        display:block;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
}
 
article header {
        border-radius: 10px;
        padding: 5px;
}
 
article footer {
        border-radius: 10px;
        padding: 5px;
}
 
article h1 {
        font-size: 18px;
}
 
 
aside {
        display:block;
        width:25%;
        float:right;
}
 
aside h3 {
        margin: 15px;
        color: white;
}
 
aside p {
        margin: 15px;
        color: white;
        font-weight: bold;
        font-style: italic;
}
 
footer {
        clear: both;
        display: block;
        background-color: #F47D31;
        color:#FFFFFF;
        text-align:center;
        padding: 15px;
}
 
footer h2 {
        font-size: 14px;
        color: white;
}


 
/* links */
a {
        color: #FFFFFF;
}
 
a:hover {
        text-decoration: underline;
}